<head>
    <script src="https://kit.fontawesome.com/594d98509e.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "normalize" %>
    <%= stylesheet_link_tag "home" %>

</head>

<body class ="container-home">
     <nav class= "navegacion">
        <section class="navegacion__logo"><%= image_tag("logoPrincipa.png", width: "80", height: "70")%></section>
        <section class="navegacion__boton">
            <div class="navegacion__textoBoton">
                <%= link_to "Salir", destroy_user_session_path, :method => :delete %>
            </div>
        </section>
    </nav>
    <main class= "contenedorHome">
        <section class="menu">
            <div class="menu__titulo">
                <h2>Administrador</h2>
            </div>

            <div id="Menu">
                <ul class="Home-Listas">
                    <li class="lista-home-1"><%= link_to "Areas", areas_path, :method => :get %></li>
                    <li class="lista-home-1"><%= link_to "fichas",  fichas_path %></li> 
                    <li class="lista-home-1"></li>

            <div class="menu__lista">
                <ul>
                    <li><%= link_to "Areas", areas_path, :method => :get %></li>

                </ul>
            </div>
        </section>

        <section class="informacion">
            <h3>Bienvenidos</h3>
        </section>
        
    </main>
</body>