
<head>
<script src="https://kit.fontawesome.com/594d98509e.js" crossorigin="anonymous"></script>
<%= stylesheet_link_tag "normalize" %>
<%= stylesheet_link_tag "areas" %>

</head>

<body class ="container-areas">
<nav class= "nav-area">
    <section id="index-logo-area"><%= image_tag("logo.png", width: "80", height: "60")%></section>
    <section id="index-salir-area">
        <div id="texto-salir-area">
            <%= link_to "Salir", destroy_user_session_path, :method => :delete %>
        </div>
    </section>
</nav>

<main class= "main-areas">
    <section class="container-lista-areas">
        <div id="titulo-menu-areas">
            <h2 class= "h2-areas">Editar ficha</h2>
        </div>
        <div id="Menu">
            <ul class="lista-areas">
                
            </ul>
        </div>
        <div class ="volver-areas">
            <%= link_to "Volver", fichas_path, :method => :get %>
        </div>
    </section>

    <section class="index-informacion-areas">
    <%= render "form" %>
   

    
    
</main>
</body>