
<head>
    <script src="https://kit.fontawesome.com/594d98509e.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "normalize" %>
    <%= stylesheet_link_tag "areas" %>

</head>

<body class ="container-areas">
     <nav class= "navegacion">
        <section class="navegacion__logo"><%= image_tag("logoPrincipa.png", width: "80", height: "70")%></section>
        <section class="navegacion__boton">
            <div class="navegacion__textoBoton">
                <%= link_to "Salir", destroy_user_session_path, :method => :delete %>
            </div>
        </section>
    </nav>
    <main class= "main-areas">
        <section class="container-lista-areas">
            <div id="titulo-menu-areas">
                <h2 class= "h2-areas">Fichas</h2>
            </div>
            <div id="Menu">
                <ul class="lista-areas">
                    <li class="lista-areas-1"><%= link_to "Nueva ficha", new_ficha_path, :method => :get %></li>
                   
                </ul>
            </div>
            <div class ="volver-areas">
                <%= link_to "Volver", home_index_path, :method => :get %>
            </div>
        </section>

        <section class="index-informacion-areas">
            <table border 1px>
                <tr>
                    <th>Nombre De ficha</th>
                   
                </tr>
                <%= render @fichas %>
            
            </table>
        </section>
        
    </main>
</body>