<head>
    <script src="https://kit.fontawesome.com/594d98509e.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "areas" %>

</head>

<body class ="container-areas">
     <nav class= "navegacion">
        <section class="navegacion__logo"><%= image_tag("logoPrincipa.png", width: "80", height: "70")%></section>
        <section class="navegacion__boton">
            <div class="navegacion__textoBoton">
                <%= link_to "Salir", destroy_user_session_path, :method => :delete %>
            </div>
        </section>
    </nav>
    <main class= "main-areas">
        <section class="container-lista-areas">
            <div id="titulo-menu-areas">
                <h2 class= "h2-areas">Nueva Ficha</h2>
            </div>
            <div id="Menu">
                <ul class="lista-areas">
                </ul>
            </div>
            <div class ="volver-areas">
                <%= link_to "Volver", fichas_path, :method => :get %>
            </div>
        </section>

        <section class="index-informacion-areas">
            <%= render "form" %>
        </section>
        
        
    </main>
</body>